.reveal, .reveal section, .reveal h1, .reveal h2,
.reveal h3, .reveal h4, .reveal p, .reveal li,
.reveal td, .reveal th {
  font-family: "Liberation Sans", Arial, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}
.reveal h1, .reveal h2, .reveal h3 { font-weight: bold; }
.reveal pre, .reveal code {
  font-family: "Liberation Mono", monospace;
}
.reveal .slide-background { background: white; }
